* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(120deg, #FFFF, #FFFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    backdrop-filter: blur(15px);
    background: rgb(5, 95, 231);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    color: white;
}

form h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    background: transparent;
    color: white;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    transition: 0.3s ease;
    pointer-events: none;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: #ffdf91;
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #ffdf91, #f2994a);
    color: black;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #ffdf91;
    text-decoration: none;
}
